.call-to-action{
    height: 500px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;

    .call-to-action--info{
        width: 800px;
        //border: 1px solid red;

        h1{
            font-size: 3rem;
            font-weight: bold;
        }
        .call-btn{
            @extend .base-btn;
            margin-top: 1rem;
            text-decoration: none;
        }
    }
}